.image-text span{
    color: grey;
}
.text-job-descri span{
    color: grey;
}
.image-text h5{
    border-right: 2px solid;
}
.image-chervron i{
    background-color: grey;
}
.spine{
    position: relative;
    z-index: 1;
    bottom: 170px;
}
.apply-now a{
    text-decoration: none;
    background-color: darkblue;
    color: white;
    padding: 4px;
}