body{
    margin: 0px;
    padding: 0px;
}
.hero-knight{
    padding: 0px;
    height: 100vh;
    width: 100%;
}

.contact-us h2{
    font-weight: 600;
}

.contact-us{
    position: relative;
    z-index: 1;
    bottom: 180px;
    width: fit-content;
}

form span{
    text-decoration: underline;
}

.radio-btn{
text-align: start;
}
.ftr{
    font-weight: bold;
}
.ftr ul{
    list-style-type: none;
    padding: 0px;
}